<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | <%= get_title %></span>
      </div>
    </div>
  </div>
</footer>