<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <% if !@setting.logo_attachment.nil? %>
          <% if @setting.logo_attachment.attached? %>
            <%= image_tag @setting.logo_attachment, :class => 'img-fluid', :style => 'width: auto; height: 90px;', :alt => @setting.title %>
          <% else %>
            <img data-src="holder.js/150x90?text=Logo Here">
          <% end %>
        <% else %>
          <img data-src="holder.js/150x90?text=Logo Here">
        <% end %>
        <%= get_short_title %>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="<%= root_path %>"><%= get_menu_1 %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="<%= about_us_path %>"><%= get_menu_7 %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="<%= mission_vision_path %>"><%= get_menu_8 %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="<%= admissions_path %>"><%= get_menu_2 %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="<%= announcements_path %>"><%= get_menu_3 %></a>
          </li>
          <!--        <li class="nav-item">-->
          <!--          <a class="nav-link js-scroll-trigger" href="<%#= facilities_path %>"><%#= get_menu_4 %></a>-->
          <!--        </li>-->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="<%= photo_galleries_path %>"><%= get_menu_5 %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact"><%= get_menu_6 %></a>
          </li>
        </ul>
      </div>
  </div>

</nav>