<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"><%= get_menu_2 %></h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row text-center">
      <% Post.pinned_admissions.limit(3).each do |post| %>
        <div class="col-md-4">
          <% if !post.image_attachment.nil? %>
              <% if post.image_attachment.attached? %>
                <%= image_tag post.image_attachment[0], :class => 'img-fluid rounded', :style => 'width: 50%;', :alt => post.title %>
              <% end %>
            <% end %>
          <h4 class="service-heading"><%= post.title %></h4>
          <p class="text-muted"><%= post.description.present? ? truncate_html_length_to_sentence(post.description, 150) : '' %></p>
          <a class="btn btn-primary text-uppercase js-scroll-trigger" href="<%= admission_path(:id => post.id) %>">Read More</a>
        </div>
      <% end %>
      <% Post.get_display_admissions.each do |post| %>
        <div class="col-md-4">
          <% if !post.image_attachment.nil? %>
              <% if post.image_attachment.attached? %>
                <%= image_tag post.image_attachment[0], :class => 'img-fluid rounded', :style => 'width: 50%;', :alt => post.title %>
              <% end %>
            <% end %>
          <h4 class="service-heading"><%= post.title %></h4>
          <p class="text-muted"><%= post.description.present? ? truncate_html_length_to_sentence(post.description, 150) : '' %></p>
          <a class="btn btn-primary text-uppercase js-scroll-trigger" href="<%= admission_path(:id => post.id) %>">Read More</a>
        </div>
      <% end %>
    </div>
    <div class="row mt-3">
      <div class="col-lg-8 mx-auto text-center">
        <a class="btn btn-outline-primary btn-xl text-uppercase js-scroll-trigger" href="<%= admissions_path %>">See more</a>
      </div>
    </div>
  </div>
</section>