<section id="contact" class="bg-light border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase text-dark"><%= get_menu_6 %></h2>
        <div class="section_title text-center  mb-30">
          <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"><%= get_section_2 %></h3>
          <p class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
            <b><%= get_title %></b><br/>
            <i><%= "<i class='fa fa-map-marker'></i> #{get_address}".html_safe if get_address %></i><br/>
            <%= "<i class='fa fa-envelope' aria-hidden='true'></i> <a href='mailto:#{get_email_address}'>#{get_email_address}</a>".html_safe if get_email_address %><br/>
            <i><%= "<i class='fa fa-mobile'></i> #{get_contact_number_1}".html_safe if get_contact_number_1 %></i><br/>
            <i><%= "<i class='fa fa-phone'></i> #{get_contact_number_2}".html_safe if get_contact_number_2 %></i>
          </p>
        </div>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-warning btn-block text-uppercase" type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>