<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase"><%= get_title %></div>
      <div class="intro-lead-in" style="font-size: 2em;"><%= get_description %></div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="<%= about_us_path %>">Tell Me More</a>
    </div>
  </div>
</header>

<!-- Admissions -->
<%= render 'admissions' %>


<!-- Announcements -->
<%= render 'announcements' %>


<!-- Facilities -->
<%#= render 'facilities' %>


<!-- Photo Gallery -->
<%= render 'photo_gallery' %>


<!-- Contact -->
<%= render 'contact_us' %>

