<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase"><%= get_menu_8 %></div>
      <div class="intro-lead-in" style="font-size: 2em;"><%= get_title %></div>
    </div>
  </div>
</header>

<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row text-justify">
      <div class="col-md-12 text-center">
        <div class="team-member">
          <%= render partial: 'image_carousel', locals: { post: @post, image_size: 600 } %>
          <p class="text-muted"><%= @post.description.present? ? @post.description.html_safe : '' %></p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Contact -->
<%= render 'contact_us' %>

