<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase"><%= get_menu_5 %></div>
      <div class="intro-lead-in" style="font-size: 2em;"><%= get_title %></div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="row text-center">
      <% @posts.limit(20).each do |post| %>
        <div class="col-md-12">
          <% if !post.image_attachment.nil? %>
            <% if post.image_attachment.attached? %>
              <%= image_tag post.image_attachment[0], :class => 'mx-auto rounded-circle', :style => 'width: 100%; max-width: 250px;', :alt => post.title %>
            <% end %>
          <% end %>
          <h4 class="service-heading"><%= post.title %></h4>
          <p class="text-muted"><%= post.description.present? ? "#{truncate_html_length_to_sentence(post.description, 1000)}".html_safe : '' %></p>
          <a class="btn btn-primary text-uppercase js-scroll-trigger" href="<%= post_path(:id => post.id) %>">Read More</a>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Contact -->
<%= render 'contact_us' %>