<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase"><%= get_title %></div>
    </div>
  </div>
</header>

<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row text-justify">
      <div class="col-md-12 text-center">
        <div class="team-member">
          <% if ![3, 4].include?(@post.section_id) %>
            <%= render partial: 'image_carousel', locals: { post: @post, image_size: 600 } %>
          <% end %>
          <h4 class="service-heading"><%= @post.title %></h4>
          <p class="text-muted"><%= @post.description.present? ? @post.description.html_safe : '' %></p>
        </div>
      </div>
    </div>
    <% if [3, 4].include?(@post.section_id) %>
      <div class="thumbs">
        <div class="row text-center">
          <% if !@post.image_attachment.nil? %>
            <% if @post.image_attachment.attached? %>
              <% @post.image_attachment.each_with_index do |image_attachment, index| %>
                <div class="col-lg-6 col-md-6 my-4">
                  <div class="single_thumb wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                    <%= image_tag image_attachment, :class => 'img-fluid mx-auto rounded', :style => "width: 100%; max-width: 250px;", :alt => @post.title %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>


<!-- Contact -->
<%= render 'contact_us' %>

